/*linea de bordes*/
*{
    box-sizing: border-box;
}
body{
    margin: 0%;
}

html{
    scroll-behavior: smooth;
}
/* tamaños de fuentes*/
h1{font-size: 5.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 7px 5px;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color:white;
    background-color: blueviolet;
    
}

button:hover{
    background-color: rgb(103, 59, 145);
}

.container{
    max-width: 1200px;
    margin: auto;
}

.color-acento{color: blueviolet;}

header{
    background-color:  black
    
}

header .logo{
    color: red;
    margin: 0;
    padding: 25px 30px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

header .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px,12px;
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    color: rgb(132, 94, 168);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: url(./image/HD-wallpaper-galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#nuestragalaxia .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestro-universo{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    
}

#nuestro-universo .container{
    padding: 100px 0px;
}

#nuestro-universo h2{
      margin-top: 0;
}

#nuestro-universo p{
    display: none;
}


.cartas:first-child{
   background-image: linear-gradient(
   0deg, 
   rgba(0,0,0,0.5),
   rgba(0,0,0,0.5)
   )
    ,url("./image/neptuno.jpg");
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 17px;

}
   

.cartas:nth-child(2){
    background-image: linear-gradient(
    0deg, 
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("./image/saturno.jpg");
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 17px;
    
}

.cartas:nth-child(3){
    background-image: linear-gradient(
    0deg, 
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("./image/neptuno.jpg");
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 17px;
    
}

#planetas .container{
    background-color: rgb(241, 218, 240);
    text-align: center;
    padding: 250px 12px;

}

#planetas li{
    margin: 12px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: black;
    width: 110vh;
    height: 50vh;
}

#final h2{
    font-size: 5vw;
    color: white;
}

#final button{
    font-size: 3vw;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-wid: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30;
        padding-right: 20px;
    }
    #nuestragalaxia .container{
       display: flex;
    }
    #nuestragalaxia .img-container{
        background-image: linear-gradient(
            0deg, 
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            )
            ,url("./image/astro.jpg");
            background-position: center center;
            background-size: cover;
            height: 500px;
            width: 50%;
    }

}






    




    
